<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".svf" mimeType="application/octet-stream " />
            <mimeMap fileExtension=".pf" mimeType="application/octet-stream " />
            <mimeMap fileExtension=".pack" mimeType="application/octet-stream " />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="ForgeViewer.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>